/******************** Navbar ********************/

.logo {
    width: 50px;
    height: 40px;
}

.navbar .container {
    padding-right: 0 !important;
}

.company_name {
    /* color:rgb(43, 42, 42); */
    color: #1a2e47;
    margin-left: 10px;
    transition: all 0.3s;
    font-weight: 700;
}

.company_name:hover {
    color: rgba(243, 236, 25, 1);
}

.nav-link {
    padding-left: 25px !important;
    padding-right: 25px !important;
    /* color: rgb(43, 42, 42); */
    color: #1a2e47;
    font-weight: 500;
}

.nav-link:hover {
    background-color: #1a2e47;
    border-radius: 25px;
    color: white;
    transition: all 0.5s;
}

.footer_icon {
    width: 60px;
}

.column {
    margin-top: 4rem;
}

#social {
    margin-top: 1.6rem;
}

#social .svg-inline--fa {
    margin-right: 1.2rem;
    font-size: 1.3rem;
}

#social .svg-inline--fa.fa-youtube:hover {
    color: #ff0000;
}

#social .svg-inline--fa.fa-instagram:hover {
    color: #c13584;
}

#social .svg-inline--fa.fa-facebook:hover {
    color: #4267b2;
}

#social .svg-inline--fa.fa-twitter:hover {
    color: #1da1f2;
}

.footer_text {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    font-size: 18px;
    word-spacing: 0.2rem;
}

.lines {
    border: 0.5px solid rgb(223, 215, 215);
    margin-left: auto;
    margin-right: auto;
}

.footer_links,
.footer_simple_links {
    display: block;
    margin-top: 1rem;
}

.footer_simple_links:hover {
    cursor: default;
}

.footer_links:hover {
    color: rgba(243, 236, 25, 1);
}

.fumn_logo {
    width: 80px;
    margin-left: 10px;
}

.copy_rights {
    font-size: 12px;
}

footer .container-fluid {
    padding-bottom: 4.5rem;
}

#social .svg-inline--fa,
.footer_text,
.footer_links,
.footer_simple_links,
.footer_simple_links:hover {
    color: rgb(223, 215, 215);
}

@import "https://fonts.googleapis.com/css?family=Lily+Script+One";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact_us_heading {
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5rem;
    font-weight: 700;
    color: #1a2e47;
}

.card {
    text-align: center;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #1a2e47;
    padding: 4rem 1rem 4rem 1rem;
    margin-bottom: 3rem;
    color: white;
}

hr.long {
    border: 1px solid white;
    width: 18rem;
    opacity: 0.3;
}

hr.short {
    border: 1px solid white;
    width: 10rem;
    opacity: 0.3;
}

.contact_links {
    color: white;
}

.contact_links:hover {
    color: yellow;
}

.who_design_link {
    color: white;
}

.who_design_link:hover {
    color: yellow;
}

.fa-map-marked-alt,
.fa-clock,
.fa-envelope-open-text,
.fa-phone-square-alt {
    color: yellow;
    opacity: 0.8;
}

.address {
    padding: 1rem 0rem 1rem 0rem;
}

.working {
    padding: 1rem 0rem 1rem 0rem;
}

.email {
    padding: 1rem 0rem 1rem 0rem;
}

.phone {
    padding: 1rem 0rem 1rem 0rem;
}

footer {
    padding: 1.5rem 4rem 1rem 4rem;
    letter-spacing: 1px;
}

.fumn_logo {
    width: 50px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>"MEDIA QUERIES"<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>>>Large Devices */

@media(min-width:1200px) {}


/* >>>>>>>>>>>>>>>>>>>>Medium Devices */

@media(min-width:992px) and (max-width:1199px) {}


/* >>>>>>>>>>>>>>>>>>>>Small Devices */

@media(min-width:768px) and (max-width:991px) {}


/* >>>>>>>>>>>>>>>>>>>>Extra Small Devices */

@media(min-width:576px) and (max-width:767px) {}


/* >>>>>>>>>>>>>>>>>>>>Extra-Extra Small Devices */

@media(min-width:420px) and (max-width:480px) {
    .contact_us_heading {
        font-size: 1.5rem;
        margin-top: 1rem;
        color: #1a2e47;
    }
    .card {
        border-radius: 1rem;
        padding: 1.5rem 0.5rem 1rem 0.5rem;
        /* margin-bottom: 5rem !important; */
    }
    hr.long {
        border: 1px solid white;
        width: 10rem;
        opacity: 0.3;
    }
    .last_hr {
        margin-bottom: 1.5rem;
    }
    hr.short {
        border: 1px solid white;
        width: 6rem;
        opacity: 0.3;
    }
    .copy_right,
    .who_design_link {
        font-size: 10px;
    }
    footer {
        padding: 1rem 2rem 1rem 2rem;
        letter-spacing: 0.5px;
    }
    .address_heading,
    .working_heading,
    .email_heading,
    .phone_heading {
        font-size: 17px;
    }
    .address_content,
    .working_content,
    .email_content,
    .phone_content {
        font-size: 14px;
    }
    .left-content .postsloop,
    .left-content .single-posst {
        margin: 0 !important;
    }
    .fumn_logo {
        width: 50px;
    }
}

@media(max-width:419px) {
    .contact_us_heading {
        font-size: 1.3rem;
        margin-top: 1rem;
        color: #1a2e47;
    }
    .card {
        border-radius: 1rem;
        padding: 1.5rem 0.7rem 1rem 0.7rem;
    }
    hr.long {
        border: 1px solid white;
        width: 9rem;
        opacity: 0.3;
    }
    .last_hr {
        margin-bottom: 1rem;
    }
    hr.short {
        border: 1px solid white;
        width: 5rem;
        opacity: 0.3;
    }
    .copy_right,
    .who_design_link {
        font-size: 8px;
    }
    footer {
        padding: 0.5rem 1rem 0.5rem 1rem;
        letter-spacing: 0.5px;
    }
    .address_heading,
    .working_heading,
    .email_heading,
    .phone_heading {
        font-size: 15px;
    }
    .address_content,
    .working_content,
    .email_content,
    .phone_content {
        font-size: 12px;
    }
    .left-content .postsloop,
    .left-content .single-posst {
        margin: 0 !important;
    }
    .fumn_logo {
        width: 50px;
    }
}